@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);






body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #faaf40 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #faaf40;
  border-color: #faaf40;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #e78d06;
  border-color: #e78d06;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #e78d06 !important;
  border-color: #e78d06 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #cf7d05;
  color: #cf7d05;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #faaf40;
  border-color: #faaf40;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #faaf40 !important;
  border-color: #faaf40 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #faaf40 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #faaf40;
}
.btn-social:hover {
  background: #faaf40;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #faaf40;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #faaf40;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #faaf40;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #faaf40;
}
.lead a,
.lead a:hover {
  color: #faaf40;
}
.lead blockquote {
  border-color: #faaf40;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #faaf40;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-c .navbar-caption {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-c .navbar-toggler {
  color: #2969b0;
}
#menu-c .close-icon::before,
#menu-c .close-icon::after {
  background-color: #2969b0;
}
#menu-c .link,
#menu-c .dropdown-item {
  color: #2969b0;
  font-family: 'Noto Sans', sans-serif;
}
#menu-c .link {
  font-size: 0.75rem;
}
#menu-c .dropdown-item,
#menu-c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-c .link:hover,
#menu-c .dropdown-item:hover,
#menu-c .link:focus,
#menu-c .dropdown-item:focus {
  color: #faaf40;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-menu {
  background: #568ba7;
}
#menu-c .nav-dropdown-sm .link:focus,
#menu-c .nav-dropdown-sm .link:hover,
#menu-c .nav-dropdown-sm .dropdown-item:focus,
#menu-c .nav-dropdown-sm .dropdown-item:hover {
  background: #6d9bb4!important;
}
#menu-c .navbar,
#menu-c .nav-dropdown-sm,
#menu-c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-c .nav-dropdown-sm .dropdown-menu {
  background: #77a2b9;
}
#menu-c .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-c .bg-color.transparent.opened .link:hover,
#menu-c .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#menu-c .btn {
  font-size: 14px;
}
#pricing-table1-f .mbr-section__container .mbr-section-title {
  color: #5998d4;
  font-family: 'Lora', serif;
  font-size: 46px;
  text-align: center;
}
#pricing-table1-f .mbr-section__container .mbr-section-subtitle {
  color: #2971b4;
  font-size: 21px;
}
#pricing-table1-f UL {
  text-align: center;
}
#pricing-table1-f .mbr-plan-label {
  color: #fac51c;
}
#pricing-table1-f .mbr-plan-title {
  color: #5897d2;
  font-size: 19px;
}
#pricing-table1-f .mbr-price-term {
  color: #ffffff;
}
#pricing-table1-f .mbr-plan-price-desc {
  color: #2a73b7;
  font-size: 16px;
}
#pricing-table1-f .mbr-plan-subtitle {
  color: #2d79c1;
  font-size: 15px;
}


#menu-i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-i .navbar-caption {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-i .navbar-toggler {
  color: #2969b0;
}
#menu-i .close-icon::before,
#menu-i .close-icon::after {
  background-color: #2969b0;
}
#menu-i .link,
#menu-i .dropdown-item {
  color: #2969b0;
  font-family: 'Noto Sans', sans-serif;
}
#menu-i .link {
  font-size: 0.75rem;
}
#menu-i .dropdown-item,
#menu-i .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-i .link:hover,
#menu-i .dropdown-item:hover,
#menu-i .link:focus,
#menu-i .dropdown-item:focus {
  color: #faaf40;
}
#menu-i .link[aria-expanded="true"],
#menu-i .dropdown-menu {
  background: #568ba7;
}
#menu-i .nav-dropdown-sm .link:focus,
#menu-i .nav-dropdown-sm .link:hover,
#menu-i .nav-dropdown-sm .dropdown-item:focus,
#menu-i .nav-dropdown-sm .dropdown-item:hover {
  background: #6d9bb4!important;
}
#menu-i .navbar,
#menu-i .nav-dropdown-sm,
#menu-i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-i .nav-dropdown-sm .dropdown-menu {
  background: #77a2b9;
}
#menu-i .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-i .bg-color.transparent.opened .link:hover,
#menu-i .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#menu-i .link[aria-expanded="true"],
#menu-i .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#menu-i .btn {
  font-size: 14px;
}
#contacts3-k SPAN {
  color: #cccccc;
}
#contacts3-k P {
  color: #3783cc;
}
#contacts3-k LI {
  color: #3c85cc;
}
#contacts3-k .list-group-text {
  color: #3683cc;
}
#contacts3-k H4 {
  color: #efefef;
}
#contacts3-k B {
  color: #3783cc;
}


#menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-l .navbar-caption {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-l .navbar-toggler {
  color: #2969b0;
}
#menu-l .close-icon::before,
#menu-l .close-icon::after {
  background-color: #2969b0;
}
#menu-l .link,
#menu-l .dropdown-item {
  color: #2969b0;
  font-family: 'Noto Sans', sans-serif;
}
#menu-l .link {
  font-size: 0.75rem;
}
#menu-l .dropdown-item,
#menu-l .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-l .link:hover,
#menu-l .dropdown-item:hover,
#menu-l .link:focus,
#menu-l .dropdown-item:focus {
  color: #faaf40;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-menu {
  background: #568ba7;
}
#menu-l .nav-dropdown-sm .link:focus,
#menu-l .nav-dropdown-sm .link:hover,
#menu-l .nav-dropdown-sm .dropdown-item:focus,
#menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #6d9bb4!important;
}
#menu-l .navbar,
#menu-l .nav-dropdown-sm,
#menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-l .nav-dropdown-sm .dropdown-menu {
  background: #77a2b9;
}
#menu-l .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-l .bg-color.transparent.opened .link:hover,
#menu-l .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#menu-l .btn {
  font-size: 14px;
}
#contacts3-n SPAN {
  color: #cccccc;
}
#contacts3-n P {
  color: #3783cc;
}
#contacts3-n LI {
  color: #3c85cc;
}
#contacts3-n .list-group-text {
  color: #3683cc;
}
#contacts3-n H4 {
  color: #efefef;
}
#contacts3-n B {
  color: #3783cc;
}


#menu-o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-o .navbar-caption {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-o .navbar-toggler {
  color: #2969b0;
}
#menu-o .close-icon::before,
#menu-o .close-icon::after {
  background-color: #2969b0;
}
#menu-o .link,
#menu-o .dropdown-item {
  color: #2969b0;
  font-family: 'Noto Sans', sans-serif;
}
#menu-o .link {
  font-size: 0.75rem;
}
#menu-o .dropdown-item,
#menu-o .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-o .link:hover,
#menu-o .dropdown-item:hover,
#menu-o .link:focus,
#menu-o .dropdown-item:focus {
  color: #faaf40;
}
#menu-o .link[aria-expanded="true"],
#menu-o .dropdown-menu {
  background: #568ba7;
}
#menu-o .nav-dropdown-sm .link:focus,
#menu-o .nav-dropdown-sm .link:hover,
#menu-o .nav-dropdown-sm .dropdown-item:focus,
#menu-o .nav-dropdown-sm .dropdown-item:hover {
  background: #6d9bb4!important;
}
#menu-o .navbar,
#menu-o .nav-dropdown-sm,
#menu-o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-o .nav-dropdown-sm .dropdown-menu {
  background: #77a2b9;
}
#menu-o .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-o .bg-color.transparent.opened .link:hover,
#menu-o .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#menu-o .link[aria-expanded="true"],
#menu-o .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#menu-o .btn {
  font-size: 14px;
}
#contacts3-q SPAN {
  color: #cccccc;
}
#contacts3-q P {
  color: #3783cc;
}
#contacts3-q LI {
  color: #3c85cc;
}
#contacts3-q .list-group-text {
  color: #3683cc;
}
#contacts3-q H4 {
  color: #efefef;
}
#contacts3-q B {
  color: #3783cc;
}


#menu-r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-r .navbar-caption {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-r .navbar-toggler {
  color: #2969b0;
}
#menu-r .close-icon::before,
#menu-r .close-icon::after {
  background-color: #2969b0;
}
#menu-r .link,
#menu-r .dropdown-item {
  color: #2969b0;
  font-family: 'Noto Sans', sans-serif;
}
#menu-r .link {
  font-size: 0.75rem;
}
#menu-r .dropdown-item,
#menu-r .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-r .link:hover,
#menu-r .dropdown-item:hover,
#menu-r .link:focus,
#menu-r .dropdown-item:focus {
  color: #faaf40;
}
#menu-r .link[aria-expanded="true"],
#menu-r .dropdown-menu {
  background: #568ba7;
}
#menu-r .nav-dropdown-sm .link:focus,
#menu-r .nav-dropdown-sm .link:hover,
#menu-r .nav-dropdown-sm .dropdown-item:focus,
#menu-r .nav-dropdown-sm .dropdown-item:hover {
  background: #6d9bb4!important;
}
#menu-r .navbar,
#menu-r .nav-dropdown-sm,
#menu-r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-r .nav-dropdown-sm .dropdown-menu {
  background: #77a2b9;
}
#menu-r .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-r .bg-color.transparent.opened .link:hover,
#menu-r .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#menu-r .link[aria-expanded="true"],
#menu-r .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#menu-r .btn {
  font-size: 14px;
}
#contacts3-t SPAN {
  color: #cccccc;
}
#contacts3-t P {
  color: #3783cc;
}
#contacts3-t LI {
  color: #3c85cc;
}
#contacts3-t .list-group-text {
  color: #3683cc;
}
#contacts3-t H4 {
  color: #efefef;
}
#contacts3-t B {
  color: #3783cc;
}


#menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x .navbar-caption {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-x .navbar-toggler {
  color: #2969b0;
}
#menu-x .close-icon::before,
#menu-x .close-icon::after {
  background-color: #2969b0;
}
#menu-x .link,
#menu-x .dropdown-item {
  color: #2969b0;
  font-family: 'Noto Sans', sans-serif;
}
#menu-x .link {
  font-size: 0.75rem;
}
#menu-x .dropdown-item,
#menu-x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-x .link:hover,
#menu-x .dropdown-item:hover,
#menu-x .link:focus,
#menu-x .dropdown-item:focus {
  color: #faaf40;
}
#menu-x .link[aria-expanded="true"],
#menu-x .dropdown-menu {
  background: #568ba7;
}
#menu-x .nav-dropdown-sm .link:focus,
#menu-x .nav-dropdown-sm .link:hover,
#menu-x .nav-dropdown-sm .dropdown-item:focus,
#menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #6d9bb4!important;
}
#menu-x .navbar,
#menu-x .nav-dropdown-sm,
#menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x .nav-dropdown-sm .dropdown-menu {
  background: #77a2b9;
}
#menu-x .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x .bg-color.transparent.opened .link:hover,
#menu-x .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#menu-x .link[aria-expanded="true"],
#menu-x .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#menu-x .btn {
  font-size: 14px;
}


#msg-box4-17 .btn {
  font-size: 14px;
  font-family: 'Indie Flower', cursive;
}
#msg-box4-17 H3 {
  font-family: 'Indie Flower', cursive;
}

#slider3-1b P {
  color: #31e6ce;
  font-size: 25px;
  font-family: 'Slabo 27px', serif;
}
#slider3-1b H2 {
  color: #31e6ce;
}



#menu-1c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1c .navbar-caption {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-1c .navbar-toggler {
  color: #2969b0;
}
#menu-1c .close-icon::before,
#menu-1c .close-icon::after {
  background-color: #2969b0;
}
#menu-1c .link,
#menu-1c .dropdown-item {
  color: #2969b0;
  font-family: 'Noto Sans', sans-serif;
}
#menu-1c .link {
  font-size: 0.75rem;
}
#menu-1c .dropdown-item,
#menu-1c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1c .link:hover,
#menu-1c .dropdown-item:hover,
#menu-1c .link:focus,
#menu-1c .dropdown-item:focus {
  color: #faaf40;
}
#menu-1c .link[aria-expanded="true"],
#menu-1c .dropdown-menu {
  background: #568ba7;
}
#menu-1c .nav-dropdown-sm .link:focus,
#menu-1c .nav-dropdown-sm .link:hover,
#menu-1c .nav-dropdown-sm .dropdown-item:focus,
#menu-1c .nav-dropdown-sm .dropdown-item:hover {
  background: #6d9bb4!important;
}
#menu-1c .navbar,
#menu-1c .nav-dropdown-sm,
#menu-1c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1c .nav-dropdown-sm .dropdown-menu {
  background: #77a2b9;
}
#menu-1c .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-1c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1c .bg-color.transparent.opened .link:hover,
#menu-1c .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#menu-1c .link[aria-expanded="true"],
#menu-1c .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#menu-1c .btn {
  font-size: 14px;
}
#form2-1h .mbr-section-title {
  color: #31e6ce;
}
#form2-1h .mbr-section-subtitle {
  color: #a0a0a0;
}
#social-buttons2-1i .mbr-section-title,
#social-buttons2-1i .btn-social {
  color: #232323;
}
#social-buttons2-1i .mbr-section-title {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  text-align: left;
}


#menu-1j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1j .navbar-caption {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-1j .navbar-toggler {
  color: #2969b0;
}
#menu-1j .close-icon::before,
#menu-1j .close-icon::after {
  background-color: #2969b0;
}
#menu-1j .link,
#menu-1j .dropdown-item {
  color: #2969b0;
  font-family: 'Noto Sans', sans-serif;
}
#menu-1j .link {
  font-size: 0.75rem;
}
#menu-1j .dropdown-item,
#menu-1j .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1j .link:hover,
#menu-1j .dropdown-item:hover,
#menu-1j .link:focus,
#menu-1j .dropdown-item:focus {
  color: #faaf40;
}
#menu-1j .link[aria-expanded="true"],
#menu-1j .dropdown-menu {
  background: #568ba7;
}
#menu-1j .nav-dropdown-sm .link:focus,
#menu-1j .nav-dropdown-sm .link:hover,
#menu-1j .nav-dropdown-sm .dropdown-item:focus,
#menu-1j .nav-dropdown-sm .dropdown-item:hover {
  background: #6d9bb4!important;
}
#menu-1j .navbar,
#menu-1j .nav-dropdown-sm,
#menu-1j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1j .nav-dropdown-sm .dropdown-menu {
  background: #77a2b9;
}
#menu-1j .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-1j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1j .bg-color.transparent.opened .link:hover,
#menu-1j .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#menu-1j .link[aria-expanded="true"],
#menu-1j .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#menu-1j .btn {
  font-size: 14px;
}
#contacts4-1m P {
  text-align: left;
}
#contacts4-1m STRONG {
  text-align: center;
}
#msg-box1-1o H3 {
  color: #efefef;
  font-size: 36px;
}


#menu-1p .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1p .navbar-caption {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-1p .navbar-toggler {
  color: #2969b0;
}
#menu-1p .close-icon::before,
#menu-1p .close-icon::after {
  background-color: #2969b0;
}
#menu-1p .link,
#menu-1p .dropdown-item {
  color: #2969b0;
  font-family: 'Noto Sans', sans-serif;
}
#menu-1p .link {
  font-size: 0.75rem;
}
#menu-1p .dropdown-item,
#menu-1p .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1p .link:hover,
#menu-1p .dropdown-item:hover,
#menu-1p .link:focus,
#menu-1p .dropdown-item:focus {
  color: #faaf40;
}
#menu-1p .link[aria-expanded="true"],
#menu-1p .dropdown-menu {
  background: #568ba7;
}
#menu-1p .nav-dropdown-sm .link:focus,
#menu-1p .nav-dropdown-sm .link:hover,
#menu-1p .nav-dropdown-sm .dropdown-item:focus,
#menu-1p .nav-dropdown-sm .dropdown-item:hover {
  background: #6d9bb4!important;
}
#menu-1p .navbar,
#menu-1p .nav-dropdown-sm,
#menu-1p .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1p .nav-dropdown-sm .dropdown-menu {
  background: #77a2b9;
}
#menu-1p .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-1p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1p .bg-color.transparent.opened .link:hover,
#menu-1p .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#menu-1p .link[aria-expanded="true"],
#menu-1p .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#menu-1p .btn {
  font-size: 14px;
}


#menu-1y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1y .navbar-caption {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-1y .navbar-toggler {
  color: #2969b0;
}
#menu-1y .close-icon::before,
#menu-1y .close-icon::after {
  background-color: #2969b0;
}
#menu-1y .link,
#menu-1y .dropdown-item {
  color: #2969b0;
  font-family: 'Noto Sans', sans-serif;
}
#menu-1y .link {
  font-size: 0.75rem;
}
#menu-1y .dropdown-item,
#menu-1y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1y .link:hover,
#menu-1y .dropdown-item:hover,
#menu-1y .link:focus,
#menu-1y .dropdown-item:focus {
  color: #faaf40;
}
#menu-1y .link[aria-expanded="true"],
#menu-1y .dropdown-menu {
  background: #568ba7;
}
#menu-1y .nav-dropdown-sm .link:focus,
#menu-1y .nav-dropdown-sm .link:hover,
#menu-1y .nav-dropdown-sm .dropdown-item:focus,
#menu-1y .nav-dropdown-sm .dropdown-item:hover {
  background: #6d9bb4!important;
}
#menu-1y .navbar,
#menu-1y .nav-dropdown-sm,
#menu-1y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1y .nav-dropdown-sm .dropdown-menu {
  background: #77a2b9;
}
#menu-1y .bg-color.transparent .link {
  color: #2969b0;
  transition: none;
}
#menu-1y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1y .bg-color.transparent.opened .link:hover,
#menu-1y .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#menu-1y .link[aria-expanded="true"],
#menu-1y .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#menu-1y .btn {
  font-size: 14px;
}
#msg-box6-20 .mbr-section-title,
#msg-box6-20 .lead p {
  color: #fff;
}
